.input {
  margin-top: 20px;
}

.input h4 {
  padding-top: 10px;
  white-space: break-spaces;
  text-align: center;
  font-weight: 500;
  font-size: 8pt;
  letter-spacing: 2pt;
}

.input input {
  display: block;
  box-sizing: border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  margin: 5px 0 25px 0;
  border: 1px solid #eeeeee;
  border-radius: 3pt;
  padding: 10px;
  font-family: Roboto;
  font-size: 11pt;
  font-weight: 100;
  letter-spacing: 0.75pt;
}

.input button {
  width: 100%;
  height: 40px;
  font-size: 12pt;
  font-weight: 900;
  margin-top: 20px;
  border-radius: 3pt;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #dfdfdf), color-stop(1, #ffffff));
  background: -ms-linear-gradient(bottom, #dfdfdf, #ffffff);
  background: -moz-linear-gradient(center bottom, #dfdfdf 0%, #ffffff 100%);
  background: -o-linear-gradient(#ffffff, #dfdfdf);
  cursor: pointer;
  text-transform: uppercase;
  font-family: Roboto;
  letter-spacing: 0.5pt;
/*  border: 1pt solid #f9f9f9;*/
  border: 1pt solid #000;
}

.input button:hover {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eeeeee), color-stop(1, #ffffff));
  background: -ms-linear-gradient(bottom, #eeeeee, #ffffff);
  background: -moz-linear-gradient(center bottom, #eeeeee 0%, #ffffff 100%);
  background: -o-linear-gradient(#ffffff, #eeeeee);
/*  border: 1pt solid #fafafa;*/
  border: 1pt solid #e3e3e3;
}

.input > label {
  text-transform: uppercase;
  font-size: 8pt;
  letter-spacing: 2pt;
}
