/* General */

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  font-weight: 100;
}

/* Main Container */

#main-container {
    width: 320px;
    height: 100%;
		margin: 0 auto;
		padding: 0px;
}

#main-container-overlay {
  display: none;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

/* Navigation */

#navigation {
  z-index: 9999;
  display: block;
  top: 0;
  margin: 0;
  width: inherit;
  height: 48px;
  background: #000000;
  position: fixed;
}

/* Menu */

#menu-button {
  position: absolute;
  top: 50%;
  left: 25px;
  transform: translate(-50%, -50%);
}

#menu-button a {
  display: block;
  background-size: 64px 64px;
  background-repeat: no-repeat;
  background-image: url(../images/hamburger.svg);
  background-position: center center;
  width: 64px;
  height: 64px;
}

#menu-button a:hover {
  fill: white;
}

#menu-popup {
  z-index: 9999;
  display: none;
  position: fixed;
  top: 48px;
  width: inherit;
  height: 100%;
  background: #000000;
}

#menu-popup ul {
  padding: 0 0 0 20px;
}

#menu-popup ul li {
  list-style-type: none;
  height: 30px;
}

#menu-popup ul li a {
  text-decoration: none;
  color: #ffffff;
}

#menu-popup ul li a:hover {
  font-weight: 800;
}

/* Logo */

#logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#logo a {
  text-decoration: none;
  font-weight: 800;
  color: #ffffff;
}

#logo a:visited {
  color: #ffffff;
}

#account-button {
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translate(-50%, -50%);
}

#account-button a {
  display: block;
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-image: url(../images/user.svg);
  background-position: center center;
  width: 30px;
  height: 30px;
}

#account-popup {
  z-index: 9999;
  display: none;
  position: fixed;
  top: 48px;
  width: inherit;
  background: #000000;
}

#account-popup ul {
  padding: 0 20px 0 0;
  text-align: right;
}

#account-popup ul li {
  list-style-type:none;
  height: 26px;
}

#account-popup ul li a {
  text-decoration: none;
  color: #ffffff;
}

#account-popup ul li a:hover {
  font-weight: 800;
}

/* Content */

#content-container {
  position: relative;
  top: 48px;
  height: 100%;
}
