:root {
	--background-color: black;
	--foreground-color: white;
	--border: 1px solid var(--foreground-color);
}

html, body {
	height: 100%;
}

body {
	font-family: "Roboto";
	margin: 0;
	color: var(--foreground-color);
	background: var(--background-color);
}

.main-container {
	grid-area: main-container;
}

.left-container {
	grid-area: left-container;
	border-right: var(--border);
}

.right-container {
	grid-area: right-container;
}

.console-container {
	grid-area: console-container;
	border-top: var(--border);
}

.root-container {
	display: grid;
	height: 100%;
	grid-template-areas:
		'main-container'
		'main-container'
		'main-container'
		'console-container';
}

.main-container {
	display: grid;
	height: 100%;
	grid-template-areas:
		'left-container right-container';
}

.profile-circle {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

@media screen and (prefers-color-scheme: dark) {
	:root {
		--background-color: white;
		--foreground-color: black;
	}

  body {
    background-color: var(--background-color);
    color: var(--foreground-color);
  }
}
